@use '../../styles/palette' as *;

.deleteButton {
	background: none;
	fill: $radioUncheckedColour;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: fill 150ms ease-in-out;

	svg {
		width: 36px;
		height: 36px;

		> path {
			scale: 0.75;
			stroke-width: 1.25;
		}
	}

	&:hover,
	&:focus {
		fill: $deleteButtonHoverColour;
	}
}
