@use '../../styles/palette' as *;

.container {
	max-width: 440px;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;

	.homeLink {
		fill: $textColour;
		transition: 150ms ease-in-out;

		&:hover,
		&:focus {
			fill: $linkHoverColour;
		}
	}

	.header {
		margin: 0;
	}
}

.footer {
	text-align: center;
}
