$backgroundColour: #f0f0f0;
$backgroundSecondaryColour: #f8f8f8;
$textColour: #121212;
$linkHoverColour: #62a6ff;
$buttonBackgroundColour: #dadada;
$buttonShadowColour: #b6b6b6;
$elementShadowColour: #b6b6b654;
$radioCheckedColour: #14cf14;
$radioUncheckedColour: #5a5a5a;
$deleteButtonHoverColour: #b30606;
